body{
    width:100%;
    margin:0px;
}
#header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:20px 80px;
    background-color: aliceblue;
    box-shadow:0px 50px 15px rgba(0,0,0,0.06);
    position:sticky;
    top :0 px;
    left:0 px;
    margin-right: 0px;

}
 .search-container{
margin-right: 200px;
height: ;

}
.dearch{
    width:400px;
    height:25px;
}
.logo{
    height:50px;
float: left;
    
}
#navbar {
    display:flex;
    align-items: center;
    justify-content: space-around;

}
#navbar li{
    list-style:none ;
    padding:0 20px;
    position:relative;
}
#navbar li a {
text-decoration: none;
font-size:19px;
font-weight:900;
color:rgb(217, 109, 14);
transition:0.9s ease;  
 }
#navbar li a:hover,
#navbar li a.active{
    color:green;
}
#navbar li a.active::after,
#navbar li a:hover::after{
content: "";
width: 30%;
height:2px;
background:green;
position:absolute;
bottom:-4px;
left:20px;
}
#hero{
    background-image: url("img/backimage.png");
    height:90vh;
    
    
    background-size:cover ;
background-position: top 25% right 0;
padding:0 100px;
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
min-width:450px;
}
#hero h4{
margin-bottom: 0px;
}
#hero h1{
    color:rgb(82, 235, 164);
 margin-bottom: 0px;
}
#hero button{
    background-color: rgb(17, 204, 201);
    color:cornflowerblue;
    border-radius:10px;
    padding:10px;
    color:rgb(252, 246, 238);
    font-size: larger;
    background-repeat: no-repeat;
    cursor:pointer;
    font-weight: bold;
    
}
 .fe-box{
    width:120px;
    text-align:center;
    padding:22px 15px;
    box-shadow:2px 2px 3px;
    border-radius:4px;
    margin-top:15px;
    height:100px;
    display:flex;
    flex-direction: column;
}

    


#Feature .fe-box:hover{
    box-shadow:5px 5px 5px ;
}
.section-p1{
    display:flex;
justify-content:center;
}
.fea{
    width:100px;
    margin-top:0px;
    margin-bottom: 1px;
    
    
}
h6{
    margin-top: 0px;
    background-color: aqua;
    border-radius: 4px;
    margin-right: 19px;
    color:antiquewhite;
}

#Feature.fe-box:nth-child(2) h6{
    background-color: green;
}
#Feature.fe-box:nth-child(3) h6{
    background-color: green;
}
#Feature.fe-box:nth-child(4) h6{
    background-color: green;
}
#Feature.fe-box:nth-child(5) h6{
    background-color: green;
}
#Feature.fe-box:nth-child(6) h6{
    background-color: green;
}

#product1{
    text-align:center;
    display:flex;
    flex-direction: column;
    color:rgb(37, 78, 78);
    

}
 .procontainer{
width:220px;
    height:350px;
  padding:10px 9px; 
    border:1px solid red;
    background-color: rgb(232, 236, 236);
    border-radius:25px;
    cursor:pointer;
    margin:15px 0;
    transition:0.2s ease;
    position:relative;


 }
 #product1 .procontainer:hover{
    box-shadow:20px 20px 30px rgb(0,0,0.8,8,0.5,0.06);
 }
 #product1 .procontainer  img{
width:208px;
height:170px;
    border-radius:20px;
    min-height: 20px;
 }
 .pro{
    width:100%;
    
    display:flex;
    justify-content:space-around;
flex-wrap:wrap;
 }
  .des {
text-align: start;

 }
 .des h5{
    font-size:larger;
    padding:0px;
    height:5px;
    margin-top: 0px;
 }
 .des .star{
    color:rgb(251, 153, 7);
    font-weight:900;
 }
        #footer{
            
   background-image:url("products/hero2.jpg");
height:400px;
background-size:cover;
  display:flex;
    justify-content: center;
}
.arriv{
    text-shadow: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color:rgb(5, 205, 69) ;
    
    background-color: rgb(232, 235, 249);
    width:500px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px 10px;
    
   
}
#footer .fot h{
    font-size: 40px;
    font-weight: bolder;
    color:rgb(236, 7, 148);

}
#footer .fot h span{
    font-size: larger;
    font-weight: bolder;
    color:rgb(244, 139, 10);

}

#footer .fot h2 button{
    font-size: 40px;
    font-weight: bolder;
    color:rgb(28, 17, 5);
    
}
#sm-banner .banner-box  {
    background-image: url("img/banner2.jpg");
display:flex;
flex-direction:column;
justify-content:center;
text-align:center;
 background-size: cover;
height:400px;
width:50%;

}
.banner-box h4 {
margin-top:50px;
font-size:40px;
}
.banner-box h2{
color:red;}
#sm-banner{
display:flex;
justify-content:space-around;
flex-direction:row;

flex-wrap:wrap;}
.banner-box button{
width:50px;
height:20px;
margin:auto;
background-color:red;
color:black;
font-weight:900;
margin-top:20px;
width:90px;
}

.banner-box button:hover{

cursor:pointer;}
