body{
    background-color:rgb(75, 25, 8);};
*{
margin:0;
padding:0;
}
nav{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
nav ul  {
    display:flex;
    list-style-type: none;
    height:30px;
    background-color: rgb(241, 243, 239);
     align-items: center;
     padding: 12px;}
     nav ul li{
        padding:12px;
     }

.brand img{
    width: 40px;
    height:35px;
    padding:0 8px
    
}
.brand{
    display:flex;
    align-items: center;
    font-size:1.3rem   rgb(230, 215, 215);
    font-weight: bolder
}
.container{
    min-height: 75vh;
    background-color:rgb(228, 211, 164);
    color:rgba(240, 190, 27, 0.733);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: 23px;
    width: 75;
    padding: 34;
    font-size: x-small;
    background-image:url(assets/man-listening-to-music-with-headphones.webp);
    border-radius:0cqmax

}
.bottom{
    position: sticky;
    background-color: rgb(0, 6, 10);
    height: 80px;
    bottom:0;
    display: flex;
    width:800px;
     margin-top: 700px;
     margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    border-radius: 12px;
}
.icons {
    margin-top: 14px;
}

#myprogress{
    width:344px;
    margin: left 81px;
    margin-right:220px;
    margin-top: 4px;
    margin-bottom:15px;;

    
}
.songitem {
    height:50px;
    display:flex;
    background-color:rgb(138, 106, 65);
    width:70%;
    color :rgb(226, 212, 212);
    margin: 12px 8px;
    border-radius:8px;
    padding-left: 10px;
    
}
.songitem img{
    
    border-radius: 34px;
    margin-top:2px;
    margin-bottom: 2px;
}

