html,body{
    height:100%;
    width:100%;
}
.button{
    padding: 20px;
    margin:0 9px;
    border: 2px solid rgba(16, 1, 1, 0.879);
    border-radius: 9px ;
    cursor :pointer;
}
.row{
    margin:8px 0;
}
.row input{
    font-size : 25px;
    margin:9px;
    padding:12px 22px;
    width :213px;
    border-color:rgb(2, 30, 54);
    font-style:italic;
    background-color:rgb(160, 162, 159);
}