*{
box-sizing:border-box;}
body{
background-color:violet;
font-family:"Helvetica",sans-serif;}
.container{
background-color:red;
max-width:600px;
margin:100px auto;
padding: 40px;
box-shadow:0 30px 9px rgba(0, 0, 1, 2);
border-radius:10px;
}
h1{
margin-top:1px;
text-align:center;
}
input{
padding:10px;
border:1px solid #ccc;
border-radius:4px;
margin:10px 0;
width:100%;}


button{
background-color:#4caf50;
color:white;
padding:10px;
border:none;
cursor:pointer;
margin:10px 0;
width: 100%;
font-size:18px;
text-transform:uppercase;
transition: background-color 0.2s ease;}
button:hover{
background-color:blue;
}
#total{
font-size:24px;
font-weight:bold;
margin-top:10px;}

