body{
    width:100%;
    margin:0px;
}
#header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:20px 80px;
    background-color: aliceblue;
    box-shadow:0px 50px 15px rgba(0,0,0,0.06);
    position:sticky;
    top :0 px;
    left:0 px;
    margin-right: 0px;

}
.logo{
    height:50px;
    
}
#navbar {
    display:flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style:none ;
    padding:0 20px;
    position:relative;
}
#navbar li a {
text-decoration: none;
font-size:19px;
font-weight:900;
color:rgb(217, 109, 14);
transition:0.9s ease;  
 }
#navbar li a:hover,
#navbar li a.active{
    color:green;
}
#navbar li a.active::after,
#navbar li a:hover::after{
content: "";
width: 30%;
height:2px;
background:green;
position:absolute;
bottom:-4px;
left:20px;
}
#hero{
    background-image: url("img/backimage.png");
    height:90vh;
    
    
    background-size:cover ;
background-position: top 25% right 0;
padding:0 100px;
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;

}
#hero h4{
    padding-bottom:15px;
}
#hero h1{
    color:rgb(82, 235, 164)
}
#hero button{
    background-color: rgb(17, 204, 201);
    color:cornflowerblue;
    border-radius:10px;
    padding:10px;
    color:rgb(252, 246, 238);
    font-size: larger;
    background-repeat: no-repeat;
    cursor:pointer;
    font-weight: bold;
}
 .fe-box{
    width:120px;
    text-align:center;
    padding:22px 15px;
    box-shadow:2px 2px 3px;
    border-radius:4px;
    margin-top:15px;
    height:100px;
    display:flex;
    flex-direction: column;
}
#Feature{
    
}

#Feature .fe-box:hover{
    box-shadow:5px 5px 5px ;
}
.section-p1{
    display:flex;
justify-content:center;
}
.fea{
    width:100px;
    margin-top:0px;
    margin-bottom: 1px;
    
    
}
h6{
    margin-top: 0px;
    background-color: aqua;
    border-radius: 4px;
    margin-right: 19px;
    color:antiquewhite;
}

#Feature.fe-box:nth-child(2) h6{
    background-color: green;
}
#Feature.fe-box:nth-child(3) h6{
    background-color: green;
}
#Feature.fe-box:nth-child(4) h6{
    background-color: green;
}
#Feature.fe-box:nth-child(5) h6{
    background-color: green;
}
#Feature.fe-box:nth-child(6) h6{
    background-color: green;
}